@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #F8FAFC;
  color: #1E293B; 
}

body {
  background-color: #F8FAFC;
  color: #1E293B;
  font-feature-settings: "ss01", "cv11"; 

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
}

input, textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}